#Ignorar archivos de configuracion local
bot/config.py

# Ignorar carpetas de configuracion de IDEs
.idea/

# Ignorar archivos de Python
__pycache__/
*.pyc

# Ignorar entornos virtuales
.venv/

# Ignorar archivos específicos
data/checklist.json
